html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #7fffd4;
}

::selection {
  background-color: #7fffd4;
}

.sticky-nav {
  position: sticky;
  top: 0;
}
.header-backdrop {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
